.dialogue-container {
  width: 100vw;
  height: 100vh;
  font-family: "Arial", sans-serif;
  position: relative;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.cat-image img {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
  z-index: 100;
}

.dialogue-box {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  bottom: 40px;
  width: 50%;
  height: 18%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.dialogue-box h2 {
  display: flex;
  margin: 0 0 10px;
}

.dialogue-box p {
  display: flex;
  text-align: left;
  width: 65%;
  word-wrap: break-word;
}

.dialogue-container button {
  position: relative;
  background-color: #000;
  color: white;
  border-color: white;
  border-style: solid;
  padding: 10px 30px;
  margin-left: 20px;
  margin-top: 94%;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100;
}

.dialogue-box button:hover {
  background-color: #f0f0f0;
}
