.dialogue-container {
    font-family: "Arial", sans-serif;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    text-align: left;
  }
  
  .cat-image img {
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 100;
  }
  
  .dialogue-box {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 50px;
    width: 1000px;
    height: 130px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dialogue-box h2 {
    margin: 0 0 10px;
  }
  
  .dialogue-container button {
    position: relative;
    background-color: black;
    color: white;
    border-color: white;
    border-style: solid;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 35px;
  }
  
  .dialogue-box button:hover {
    background-color: #f0f0f0;
  }

  .text-container {
    width: 65%;
    word-wrap: break-word; 
    white-space: normal; 
  }
  
  