.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    background-image: url('../images/background.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.coco {
    position: absolute;
    width: 300px;
    height: 230px;
    top: 20%;
    left: 40%;
    background: url('../images/coco.png');
    background-size: cover;
    border: none;
}

.coco:hover{
    width: 310px;
    height: 240px;
}

.cocomonster {
    position: absolute;
    width: 300px;
    height: 230px;
    top: 20%;
    left: 40%;
}

.leon {
    position: absolute;
    width: 300px;
    height: 230px;
    top: 50%;
    left: 10%;
    background: url('../images/leonbox.png');
    background-size: cover;
    border: none;
}

.leon:hover{
    width: 310px;
    height: 240px;
}

.leonmonster {
    position: absolute;
    width: 300px;
    height: 230px;
    top: 50%;
    left: 10%;
}

.louis {
    position: absolute;
    width: 300px;
    height: 260px;
    top: 30%;
    left: 60%;
    background: url('../images/louisball.png');
    background-size: cover;
    border: none;
}

.louis:hover{
    width: 310px;
    height: 270px;
}

.louismonster {
    position: absolute;
    width: 300px;
    height: 260px;
    top: 30%;
    left: 60%;
}

.win-text-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 150;
    content: "";
}
  
  .win-text {
    position: fixed;
    z-index: 100;
    background-color: #fff2ea;
    width: 50%;
    height: 60%;
    border-radius: 50px;
    border: 4px solid #ffcdad;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: "Irish Grover", serif;
  }
  
  .win-text button {
    font-size: 1.2em;
    font-family: "Irish Grover", serif;
    border-radius: 30px;
    width: 25%;
    height: 13%;
    background-color: rgba(0, 0, 0, 0.12); /* Semi-transparent background */
    border: none;
    font-family: "Irish Grover", serif;
  }
  
  .win-text p {
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    align-self: center;
    font-family: "Irish Grover", serif;
  }